.main {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    padding: var(--spacer-S);
}

.main img {
    width: -webkit-fill-available;
}

.brandName {
    font-weight: bold;
    margin-top: var(--spacer-S);
    margin-bottom: var(--spacer-XS);
}

.priceContainer {
    margin-top: var(--spacer-S);
}
