.main {
    display: flex;
    flex-direction: column;
    width: 50%;
    text-align: center;
    padding: var(--spacer-S);
}

.brandName{
    font-weight: bold;
    margin-top: var(--spacer-S);
}

.priceContainer{
    margin-top: var(--spacer-S);
}