.mainTitle {
    font-size: 2.8rem;
    text-align: center;
}

.subTitle {
    font-size: 2rem;
    text-align: center;
}

.recommendationTitle {
    font-size: 1.6rem;
    text-align: center;
}

.recomendationSection {
    margin-bottom: 4.8rem;
    text-align: center;
}

.backButton {
    border: 1px solid #222;
    display: block;
    margin: 20px 0;
    padding: 10px;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
}

.ball {
    height: 6px;
    width: 6px;
    background: #ccc;
    display: block;
    margin-left: 6px;
    border-radius: 50%;
}

.ball.active {
    background: #222;
}

.balls {
    text-align: center;
    display: flex;
    justify-content: center;
}
