.title {
    font-size: 1.6rem;
}

.card {
    display: flex;
    margin-bottom: 3rem;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.cover {
    width: 30%;
}

.cover img {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.summary {
    padding: 0.6rem 0.6rem 0.6rem 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.items {
    color: var(--colorDarkerGrey);
    font-size: 1.2rem;
}
